@model IEnumerable<ContosoUniversity.Models.SchoolViewModels.EnrollmentDateGroup>

@{
	//ViewData["Title"] = "About";
	ViewData["Title"] = "Student Body Statistics";
}

<!--
	<h2>at ViewData["Title"] </h2>


<h3>at ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
-->

<h2>Student Body Statistics</h2>

<table>
	<tr>
		<th>
			Enrollment Date
		</th>
		<th>
			Students
		</th>
	</tr>
@foreach (var item in Model)
{ 
	<tr>
		<td>@Html.DisplayFor(modelItem => item.EnrollmentDate)</td>
		<td>@item.StudentCount</td>
	</tr>
}
</table>

